* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
}

.btn,
.input {
    height: 26px;
    padding: 4px;
    vertical-align: top;
    border: 1px solid white;
    border-radius: 4px;
    background: white;
}

.ground {
    background: white;
}

.treeNode {
    position: relative;
    display: flex;
    flex-grow: 1;
    min-height: 200px;
    max-height:500px;
    margin: 14px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px #bbc;
    
}

.rotation {
    animation: rotation 2s infinite;
    max-width: 500px;
    min-height: 0;
    color: rgba(0,0,0,0);
    pointer-events: none;
    user-select: none;

}
.data {
    position: absolute;
    top: 0;
    left: 4px;
}

.highlight {
    animation: changeColor .6s normal;
}

.highlight-always {
    background: #3CFF00FF;
}

@keyframes changeColor {
    0% {
        background: white;
    }
    50% {
        background: yellow;
    }
    100% {
        background: white;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}