* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Microsoft YaHei";
    background-color: #595959;
}

#main {
    width: 1280px;
    margin: 0 auto;
    background-color: white;
}

header {
    position: relative;
    height: 58px;
    user-select: none;
}

header span {
    display: inline-block;
    margin: 12px 0 0 60px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

header span:before {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right: 12px;
    padding-bottom: 6px;
    content: "";
    vertical-align: middle;
    background: url(../img/book-1.jpg) no-repeat;
}

header ul {
    float: right;
    margin: 0;
    margin-right: 60px;
    padding-left: 0;
    font-size: 14px;
    font-weight: bold;
    list-style-type: none;
}

header li {
    display: block;
    float: left;
    width: 62px;
    margin-left: 40px;
    padding-top: 14px;
    padding-bottom: 21px;
    cursor: pointer;
    text-align: center;
}

header li:last-child {
    margin: 0;
    margin-left: 18px;
    color: #f06b76;
}

header li:last-child:hover {
    border: 0;
}

header li:last-child:before {
    display: inline-block;
    width: 14px;
    height: 20px;
    padding-right: 6px;
    content: "";
    vertical-align: middle;
    background: url(../img/login.jpg) no-repeat;
}

header li:hover {
    color: #f1494d;
    border-bottom: 4px solid #f1494d;
}

#banner {
    position: relative;
    height: 690px;
    color: white;
    background: yellow;
    background: url(../img/site.jpg);
    background-size: 1280px;
}

#banner h2 {
    position: absolute;
    top: 214px;
    left: 116px;
    font-size: 60px;
    font-weight: normal;
}

#banner h2:first-letter {
    text-transform: uppercase;
}

#banner p {
    position: absolute;
    top: 302px;
    left: 124px;
    width: 300px;
    font-size: 21px;
    line-height: 32px;
}

#banner button {
    position: absolute;
    top: 428px;
    left: 126px;
    width: 330px;
    height: 62px;
    font-size: 30px;
    color: white;
    border: 0;
    border-radius: 2px;
    background-color: #f4494a;
}

#section-1 {
    height: 250px;
    font-family: SimHei;
}

#section-1 div {
    position: relative;
    float: left;
    width: 320px;
    height: 100%;
    padding-top: 130px;
    padding-right: 76px;
    padding-left: 76px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #b3b3b3;
}

#section-1 div:before {
    position: absolute;
    left: 0;
    display: block;
    width: 3px;
    height: 54px;
    content: " ";
    background-color: #b7b7b7;
}

#section-1 div:nth-child(1):before {
    display: none;
}

#section-1 div:after {
    position: absolute;
    top: 42px;
    left: 139px;
    display: block;
    width: 42px;
    height: 42px;
    content: "";
}

#section-1 div:nth-child(1):after {
    background: url(../img/circle.jpg) no-repeat;
}

#section-1 div:nth-child(2):after {
    background: url(../img/flag.jpg) no-repeat 4px 0;
}

#section-1 div:nth-child(3):after {
    background: url(../img/flower.jpg) no-repeat 3px 0;
}

#section-1 div:nth-child(4):after {
    background: url(../img/square.jpg) no-repeat 1px 0;
}

#section-2 {
    position: relative;
    height: 360px;
    padding-top: 224px;
    font-family: SimHei;
    font-size: 54px;
    text-align: center;
    color: #9d9d9d;
    background-color: #ececec;
}

#section-2:before {
    position: absolute;
    top: 88px;
    left: 640px;
    display: block;
    width: 91px;
    height: 91px;
    content: "";
    transform: translateX(-50%);
    background: url(../img/book-2.jpg) no-repeat;
}

#city-info {
    height: 340px;
    color: white;
    background: red;
    background: url(../img/hand.jpg) no-repeat;
    background-size: 1280px;
}

#city-info h3 {
    position: relative;
    padding-top: 50px;
    padding-bottom: 12px;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
}

#city-info h3:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 30px;
    height: 2px;
    content: "";
    transform: translateX(-50%);
    background-color: white;
}

#city-info p {
    padding-top: 16px;
    text-align: center;
}

#city-info form {
    padding-top: 42px;
    padding-left: 126px;
}

#city-info form > div {
    float: left;
    width: 240px;
    margin-right: 26px;
    font-size: 12px;
    cursor: default;
    color: #808082;
    border: 1px solid #e4e7e2;
    background: white url(../img/arrow.jpg) no-repeat 210px 7px;
}

#city-info form > div ul {
    list-style-type: none;
}

#city-info form > div span {
    display: block;
    padding: 8px 34px;
}

#city-info form > div li {
    padding: 4px 34px;
    padding-right: 0;
    background-color: #e2e1e4;
}

#city-info form > div ul {
    display: none;
}

#city-info form > div:hover {
    border: 1px solid #c64945;
}

#city-info form > div:hover ul {
    display: block;
}

#city-info form > div:hover li:hover {
    color: white;
    background-color: #c64945;
}

#city-info button {
    float: left;
    width: 240px;
    height: 32px;
    font-size: 14px;
    letter-spacing: 8px;
    color: white;
    border: 0;
    background-color: #c64945;
}

#gallery {
    height: 606px;
    padding-top: 102px;
    padding-left: 150px;
    background: grey;
    background-color: #f8f8f8;
}

#gallery figure {
    float: left;
    width: 218px;
    height: 336px;
    margin-right: 38px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid #d8d8d8;
    background-color: white;
}

#gallery figcaption {
    margin-top: 20px;
}

#gallery h4 {
    font-size: 14px;
    font-weight: normal;
}

#gallery p {
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

#gallery figure:nth-of-type(2) {
    position: relative;
    margin-top: 50px;
}

#gallery figure:nth-of-type(2) figcaption {
    position: absolute;
    top: -52px;
    left: 50%;
    width: 216px;
    margin: 0;
    transform: translateX(-50%);
}

#gallery figure:nth-of-type(2) h4 {
    display: inline;
    width: 216px;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 16px;
}

#new-world {
    position: relative;
    float: left;
    width: 850px;
    height: 567px;
    padding-top: 124px;
    text-align: center;
    color: white;
    background: url(../img/shoe.jpg) no-repeat;
    background-size: 854px;
}

#new-world:after {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    border-top: 17px solid transparent;
    border-right: 25px solid white;
    border-bottom: 17px solid transparent;
}

#new-world p:nth-child(1) {
    font-size: 50px;
}

#new-world p:nth-child(2) {
    font-size: 152px;
    line-height: 120px;
    text-transform: uppercase;
}

#new-world p:nth-child(3) {
    margin-top: 34px;
    font-size: 22px;
    line-height: 40px;
}

#new-world-aside {
    float: left;
    width: calc( 100% - 850px);
    height: 567px;
    padding-top: 160px;
    text-align: center;
    background-color: white;
}

#new-world-aside h3 {
    font-size: 20px;
    font-weight: normal;
    word-spacing: 16px;
}

#new-world-aside h3 span {
    color: #ff6e77;
}

#new-world-aside p {
    width: 284px;
    margin: 0 auto;
    padding-top: 26px;
    font-size: 12px;
    line-height: 28px;
    text-align: justify;
    color: #a9a9a9;
}

#new-world-aside button {
    width: 108px;
    height: 32px;
    margin-top: 50px;
    color: #e36872;
    border: 1px solid #e36872;
    background-color: white;
}

#new-world-aside li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: 26px;
    margin-left: 8px;
    list-style-type: none;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
}

.focus {
    background-color: #dcdcdc;
}

.new-time {
    float: left;
    width: 425px;
    height: 520px;
    text-align: center;
    color: white;
    background-color: #f4494a;
}

.new-time h3 {
    position: relative;
    margin-top: 172px;
    padding-bottom: 28px;
    font-size: 20px;
    font-weight: normal;
}

.new-time h3:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 30px;
    height: 2px;
    content: "";
    transform: translateX(-50%);
    background-color: white;
}

.new-time button {
    width: 168px;
    height: 45px;
    margin-top: 26px;
    font-size: 22px;
    color: white;
    border: 1px solid white;
    background-color: inherit;
}

#new-time-2 {
    color: black;
    background-color: white;
}

#new-time-2 button {
    color: #f4494a;
    border: 1px solid #f4494a;
}

#new-time-2 h3:after {
    background-color: #f4494a;
}

#new-time-aside {
    position: relative;
    float: left;
    width: calc( 100% - 850px);
    height: 520px;
    background-color: white;
}

#new-time-aside img {
    width: 100%;
}

#new-time-aside:before {
    position: absolute;
    top: 50%;
    content: "";
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 25px solid white;
}

#join-me {
    clear: both;
    height: 755px;
    background-color: white;
}

#join-me h2 {
    position: relative;
    padding-top: 112px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: normal;
    text-align: center;
}

#join-me h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 30px;
    height: 2px;
    content: "";
    transform: translateX(-50%);
    background-color: #f46460;
}

#join-me > p {
    width: 420px;
    margin: 0 auto;
    padding-top: 12px;
    font-size: 12px;
    text-align: center;
}

#law {
    float: left;
    width: 290px;
    margin-top: 100px;
    margin-left: 138px;
}

#law p {
    position: relative;
    margin-bottom: 36px;
    font-size: 12px;
    line-height: 30px;
    color: #231815;
}

#law p:after {
    position: absolute;
    right: 0;
    bottom: -14px;
    padding-left: 16px;
    content: "more";
    color: #949193;
    background: url(../img/arrow-down.jpg) no-repeat 0 13px;
    background-size: 10px;
}

#law b {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #231815;
}

#join-me form {
    float: left;
    width: 660px;
    margin-top: 106px;
    margin-left: 80px;
    font-size: 0;
}

#join-me form input {
    width: 310px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 14px;
    padding-left: 14px;
    font-size: 12px;
    border: 0;
    background-color: #ececee;
}

#join-me form #dream {
    width: 640px;
    height: 120px;
    padding-bottom: 78px;
}

#join-me form #sub-btn {
    width: 640px;
}

#contact-us {
    height: 416px;
    padding-top: 90px;
    text-align: center;
    color: white;
    background-color: #34363f;
}

#contact-us h3 {
    font-size: 20px;
    font-weight: normal;
}

#contact-us p {
    width: 470px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 24px;
}

#contact-us form {
    margin-top: 20px;
}

#contact-us #email {
    width: 434px;
    height: 40px;
    padding-left: 12px;
    background-color: white;
}

#contact-us #sub-email {
    width: 81px;
    height: 40px;
    font-size: 16px;
    vertical-align: middle;
    color: white;
    border: 0;
    background-color: #6c6f76;
}

#contact-us ul {
    margin-top: 34px;
    list-style-type: none;
}

#contact-us li {
    display: inline-block;
    margin-right: 20px;
}

#contact-us li img {
    cursor: pointer;
    -webkit-user-drag: none;
}

#foot {
    display: table;
    width: 100%;
    height: 46px;
    vertical-align: middle;
    color: white;
    background-color: #32303a;
}

#foot span {
    display: table-cell;
    font-size: 12px;
    vertical-align: middle;
}

#foot span:first-child {
    padding-left: 96px;
}

#foot span:nth-child(2) {
    padding-left: 1000px;
}

#foot a {
    text-decoration: none;
    color: white;
}
