* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #595959;
	font-family: "Microsoft YaHei";
}

#main {
	margin: 0 auto;
	width: 1280px;
	background-color: white;
}

header {
	height: 58px;
	position: relative;
	user-select: none;
}
header span {
	margin: 14px 0 0 60px;
	display: inline-block;
	/*position: absolute;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	/*left: 60px;*/
	font-size: 20px;
	font-weight: bold;
	cursor:default;
}
header span:before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 12px;
	background: url(../img/book-1.jpg) no-repeat;
}
header ul{
	float:right;
	list-style-type:none;
	font-size: 14px;
	margin: 0;
	margin-right: 60px;
	padding-left: 0;
	font-weight: bold;
}


header li {
	float:left;
	display: block;
	padding-top:14px;
	padding-bottom: 21px;
	text-align: center;
	width: 62px;
	margin-left:40px;
	/*margin-right: 26px;*/
	cursor: pointer;
	/*border-bottom: 4px solid #F1494D;*/
}

header li:last-child {
	color:#F06B76;
	margin:0;
	margin-left: 18px;
}

header li:last-child:hover {
	border: 0;
}
header li:last-child:before {
	content: "";
	width: 14px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	padding-right:6px;
	background: url(../img/login.jpg) no-repeat;
}

header li:hover {
	color: #F1494D;
	border-bottom: 4px solid #F1494D;
}

#banner {
	position: relative;
	color: white;
	height:690px;
	background: yellow;
	background: url(../img/site.jpg);
	background-size: 1280px;
}

#banner h2 {
	position: absolute;
	top: 214px;
	left: 116px;
	font-size: 60px;
	font-weight: normal;
}

#banner h2:first-letter {
	text-transform: uppercase;
}

#banner p {
	position: absolute;
	width: 300px;
	top: 302px;
	left: 124px;
	font-size: 21px;
	line-height:32px;
}

#banner button {
	position: absolute;
	top: 428px;
	left: 126px;
	width:330px;
	height: 62px;
	background-color:#F4494A;
	border: 0;
	font-size: 30px;
	color: white;
	border-radius: 2px;
}

#section-1 {
	height: 250px;
	font-family: SimHei;
}

/*method 1*/
#section-1 div {
	float: left;
	width: 320px;
	height:100%;
	box-sizing: border-box;
	padding-top: 130px;
	padding-left: 76px;
	padding-right:76px;
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	color: #B3B3B3;
}

#section-1 div:before {
	content: " ";
	display: block;
	position: absolute;
	left:0;
	height:54px;
	width: 3px;
	background-color: #B7B7B7;
}
#section-1 div:nth-child(1):before {
	display: none;
}

#section-1 div:after {
	content: "";
	width:42px;
	height:42px;
	display: block;
	position: absolute;
	top: 42px;
	left: 139px;
}

#section-1 div:nth-child(1):after {
	background: url(../img/circle.jpg) no-repeat;
}

#section-1 div:nth-child(2):after {
	background: url(../img/flag.jpg) no-repeat 4px 0;
}

#section-1 div:nth-child(3):after {
	background: url(../img/flower.jpg) no-repeat 3px 0;
}


#section-1 div:nth-child(4):after {
	background: url(../img/square.jpg) no-repeat 1px 0;
}

/* method 2, pixel*/
/*
#section-1 div {
	width:160px;
	height:80px;
	color: #8F8F8F;
	text-align:center;
	float:left;
	position: relative;
	padding-top:130px;
	padding-left:84px;
	padding-right:78px;
	letter-spacing: -2px;
	border:1px solid;
}

#section-1 div:nth-child(1) {
	letter-spacing: -2px;
}

#section-1 div:before {
	content: "";
	display: block;
	position: absolute;
	left:0;
	height:54px;
	width: 2px;
	background-color: #B7B7B7;

}

#section-1 div:nth-child(1):before {
	display: none;
}

#section-1 div:nth-child(4) {
	padding-right:0;
}

#section-1 div:after {
	content: "";
	width:42px;
	height:42px;
	display: block;
	position: absolute;
	top: 42px;
	left: 144px;
}

#section-1 div:nth-child(1):after {
	background: url(../img/circle.jpg) no-repeat;
}

#section-1 div:nth-child(2):after {
	background: url(../img/flag.jpg) no-repeat;
}

#section-1 div:nth-child(3):after {
	background: url(../img/flower.jpg) no-repeat;
}


#section-1 div:nth-child(4):after {
	background: url(../img/square.jpg) no-repeat;
}*/

#section-2 {
	/*border-top:1px solid;*/
	padding-top: 224px;
	text-align:center;
	font-family: SimHei;
	font-size:54px;
	color: #9D9D9D;
	height: 360px;
	background-color: #ECECEC;
	position: relative;
}

#section-2:before {
	content: "";
	width:91px;
	height:91px;
	display:block;
	position: absolute;
	left: 640px;
	top: 88px;
	transform: translateX(-50%);
	background: url(../img/book-2.jpg) no-repeat;
}

#city-info {
	height: 340px;
	background: red;
	background:url(../img/hand.jpg) no-repeat;
	background-size:1280px;
	color: white;
}

#city-info h3 {
	font-size: 21px;
	font-weight:normal;
	padding-top:50px;
	padding-bottom:12px;
	text-align:center;
	position: relative;
}

#city-info h3:after {
	content: "";
		width:30px;
		height: 2px;
		background-color: white;
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
}

#city-info p {
	padding-top: 16px;
	text-align: center;
}

#city-info form {
	padding-top:42px;
	padding-left:126px;
}

#city-info form >div {
	float:left;
	margin-right: 26px;
  	background: white url(../img/arrow.jpg) no-repeat 210px 9px;
	border:1px solid #E4E7E2;
	color: #808082;	
	font-size: 12px;
	width: 240px;
	cursor: default;
}

#city-info form >div ul{
	list-style-type: none;
}

#city-info form >div span{
	display: block;
	padding:8px 34px;
}

#city-info form >div li {
	padding: 4px 34px;
	padding-right: 0px;
	background-color: #E2E1E4;
	/*width: calc(100% - 1px);*/
}

#city-info form >div ul {
	display: none;
}
#city-info form >div:hover {
	border: 1px solid #C64945;
}
#city-info form >div:hover ul {
	display: block;
}

#city-info form >div:hover li:hover {
	background-color:#C64945;
	color: white;
}

/*#city-info select {
	float:left;
	margin-right:26px;
	width: 238px;
	height:38px;
	padding-left:12px;
	padding-right: 30px;
	appearance: none;
	-moz-appearance: none;
  	-webkit-appearance: none;
  	background: white url(../img/arrow.jpg) no-repeat 210px center;
	border:1px solid #E4E7E2;
	color: #E4E7E2;
}
#city-info option {
	height:38px;
	line-height:38px;
	padding:10px;
	background: #808082;
}*/

#gallery {
	height:600px;
	background: grey;
}


