* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

a,
img {
    -weblit-bouch-callout: none;
}

html {
    font-size: 75px;
}

.header {
    position: relative;
    width: 100%;
    height: 1.133333rem;
    font-size: .4266rem;
    text-align: center;
    color: white;
    background: #00c5d5;
}

.return-btn {
    position: absolute;
    top: 50%;
    left: .293333rem;
    font-size: .426666rem;
    transform: translateY(-50%);
    color: white;
    border: 0;
    outline: 0;
    background: inherit;
}

.return-btn * {
    vertical-align: middle;
}

.header-title {
    line-height: 1.133333rem;
    cursor: default;
}

.nav {
    width: 100%;
    height: 1.173333rem;
    padding: 0 .266666rem;
    font-size: .346666rem;
    background: white;
}

.nav li {
    position: relative;
    float: left;
    width: 20%;
    line-height: 1.173333rem;
    list-style: none;
    cursor: default;
    text-align: center;
}

.nav-forus:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: .053333rem;
    content: "";
    background: #00c5d5;
}

.banner {
    overflow: hidden;
    width: 100%;
    height: 5.493333rem;
}

.banner img {
    width: 100%;
}

.label-container {
    height: 2.96rem;
    margin: 0 .266666rem;
}

.label {
    position: relative;
    display: block;
    float: left;
    width: 20%;
    height: 20%;
    list-style: none;
    text-align: center;
    opacity: .5;
}

.label {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 calc(10% - 0.6rem);
    margin-top: .48rem;

    border-radius: 1.2rem;
    background: #00c5d5;
}

.label img {
    width: .6rem;
    height: 0.72rem;
    position: relative;
    top: 0.186666rem;
}

.label-info {
    position: absolute;
    bottom: -0.773333rem;
    width: 1rem;
    left: 50%;

    font-size: .32rem;
    transform: translateX(-50%);
}

.column-container {
    height: 4.266666rem;
    margin: .266666rem;
    border-top: 2px solid #f4f4f5;
}

.column {
    float: left;
    width: 33.333333%;
    margin-top: .533333rem;
    text-align: center;
}

.column {
    border-right: 2px solid #f4f4f5;
}

.column:last-child {
    border-right: 0;
}

.column-title {
    font-size: .426666rem;
}

.colum-subtitle {
    font-size: .373333rem;
}

.column img {
    width: 1.333333rem;
}

.artical {
    padding: 0 .266666rem;
    border-top: .346666rem solid #f4f4f5;
}

.b-line {
    border-bottom: .346666rem solid #f4f4f5;
}

.artical-title {
    height: 1.2rem;
    margin-bottom: .4rem;
    font-size: .466666rem;
    line-height: 1.2rem;
    border-bottom: .026666rem solid #f4f4f5;
}

.section {
    overflow: hidden;
    position: relative;
}

.section p,
.section img {
    float: left;
}

.section p {
    width: 3.146666rem;
    height: 1.013333rem;
    margin-bottom: .266666rem;
    margin-left: .266666rem;
    font-size: .333333rem;
    line-height: 1.013333rem;
    text-align: center;
    background: #f8f8f8;
}

.section img {
    width: 2.4rem;
    margin-bottom: .266666rem;
    border: 1px solid #fed286;
}

.artical-header {
    position: relative;
    overflow: hidden;
    padding: .266666rem .266666rem;
    border-bottom: 2px solid #f8f8f8;
    display: table;
    width: 100%;
}

.title-container {
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-left: 0.266666rem;
}

.artical-header img {
    display: table-cell;
    width: 2.826666rem;
}

.artical-header h3 {
    font-size: .4rem;
    font-weight: normal;
    line-height: .4rem;
    height: 1.4rem;
}

.sub-time {
    display: block;
    font-size: .32rem;
    color: #bbb;
    position: relative;
    height: 0.853333rem;
    line-height: 0.853333rem;
}

.artical-header-2 {
    padding: 0 0.266666rem;
}

.artical-header-2 h3 {
    font-size: .4rem;
    line-height: 1rem;
    height: 1rem;
}

.footer {
    height: 1.36rem;
    background: #f8f8f8;
}