body {
    margin: 0;
    background-color: #ECECEC;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    min-width: 500px;
}

header {
    height: 60px;
    background: black;
    color: white;
    position: relative;
}

header h1 {
    float: left;
    line-height: 60px;
    /*	line-height: 1em;
	position: absolute;
	top:50%;
	transform: translateY(-50%);*/
    margin: 0;
    margin-left: 40px;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
}

header li {
    float: left;
    margin-right: 20px;
    line-height: 60px;
    list-style-type: none;
}


header li a {
    color: white;
    text-decoration: none;
}

article {
    margin: 20px;
    margin-bottom: 0;
    background-color: white;
    padding: 40px 20px;
    box-shadow: 2px 2px 2px #818181;
}

article h2 {
    margin-top: 0;
    font-size: 22px;
}

article h3 {
    margin-top: 0;
    color: #A19DAF;
    font-size: 16px;
}

article h5 {
    color: #A19DAF;
    font-size: 12px;
}

figure {
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

figure figcaption {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border: 1px solid #CACACA;
    border-collapse: collapse;
    text-align: center;
}

table thead {
    background-color: #343434;
    color: white;
}

table tfoot {
    background-color: #CACACA;
}

.message {
    display: inline-block;
    text-align: right;
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
}

.note {
    margin-left: calc(30% + 10px);
    margin-top: 10px;
    font-size: 0.9em;
    color: #ADA99E;
}

textarea {
    height: 100px;
    width: 50%;
    vertical-align: top;
    margin-top: 10px;
}

.submit {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: #4043CD;
    border: 0;
    border-radius: 8px;
    color: white;
}

footer {
    margin-top: 20px;
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    /*line-height: 80px;*/
    display: table;
    width: 100%;
    vertical-align: middle;
}

footer span {
    display: table-cell;
    vertical-align: middle;
}

#aside-title {
    padding-left: 10px;
    border-left: 4px solid #CDCDCD;
}