* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
}

.btn {
    padding: 4px;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
}

.ground {
    background: white;
}

.treeNode {
    display: flex;
    width: calc(100% - 28px);
    min-width: 20px;
    min-height: 100px;
    margin: 14px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px #bbc;
    position: relative;
}

.data {
    position: absolute;
    top: 0;
    left: 4px;
}

.highlight {
    animation: changeColor .6s normal;
}

.highlight-always {
    background: green;
}

@keyframes changeColor {
    0% {
        background: white;
    }
    50% {
        background: yellow;
    }
    100% {
        background: white;
    }
}